<!DOCTYPE html>
<html lang="en">

<body link=" #dd3d53" vlink=" #dd3d53" alink=" #dd3d53">
    {{{body}}}
    <table class=" main contenttable" align="center"
        style="font-weight: normal;border-collapse: collapse;border: 0;margin-left: auto;margin-right: auto;padding: 0;font-family: Arial, sans-serif;color: #555559;background-color: white;font-size: 16px;line-height: 26px;width: 600px;">
        <tr>
            <td class="border"
                style=" box-shadow: 0 10px 16px 1px rgba(247, 219, 174, 1);border-collapse: collapse;border: 1px solid #eeeff0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;">
                <table
                    style="font-weight: normal;border-collapse: collapse;border: 0;margin: 0;padding: 0;font-family: Arial, sans-serif;">
                    <td valign="top" class="side title"
                        style="border-collapse: collapse;border: 0;margin: 0;padding: 20px;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;vertical-align: top;background-color: white;border-top: none;">
                        <table
                            style="font-weight: normal;border-collapse: collapse;border: 0;margin: 0;padding: 0;font-family: Arial, sans-serif;">

                            <tr>
                                <td class="top-padding"
                                    style="border-collapse: collapse;border: 0;margin: 0;padding: 5px;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;">
                                </td>
                            </tr>
                            <tr>
                                <td class="grey-block"
                                    style="border-collapse: collapse;border: 0;margin: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;background-color: #fff; text-align:center;">
                                    <div class="mktEditable" id="cta">
                                        <img class="top-image"
                                            src="https://damacars.com.au/wp-content/uploads/2020/09/facebook-logo.jpg"
                                            width="560" /><br><br>
                                        <strong>Date:</strong> <span style="color: #dd3d53">{{date}}</span><br>
                                        <strong>Time</strong>: <span style="color: #dd3d53">{{time}}</span><br />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="top-padding"
                                    style="border-collapse: collapse;border: 0;margin: 0;padding: 15px 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 21px;">
                                    <hr size="1" color="#eeeff0">
                                </td>
                            </tr>
                            <tr>
                                <td class="text"
                                    style="border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;">
                                    <div class="mktEditable" id="main_text">
                                        Hi <strong>{{name}}</strong>,<br><br>

                                        Thanks for your enquiry on our website.
                                        A dedicated team will be in touch with you shortly to help you through
                                        your car buying journey.<br><br>



                                        At <a style="color: #dd3d53; text-decoration:none" href="#">Dama Cars</a>
                                        not only can we show you how to<span style="color: #dd3d53"> Pay less on your
                                            car</span> , our experienced finance team can also show you how to:<br><br>

                                        <ul style="color: #555559;font-family: Arial, sans-serif;font-size: 16px;">
                                            <li><span style="color: #dd3d53">Maximise your tax savings </span> by
                                                providing you with a tailored financial solution;</li>
                                            <li><span style="color: #dd3d53"> Mitigate your finance risks</span> by
                                                assisting you on choosing the right car and tailor a bespoke vehicle
                                                solution for you by
                                                taking into account your individual and unique needs and circumstances.
                                            </li>
                                        </ul>
                                        <br>
                                        <span style="color: #555559">If you are keen to get started, call us on <a
                                                style="color: #dd3d53; text-decoration:underline"
                                                href="tel://+61413084953"> +61413084953</a>. Otherwise, look out for our
                                            call as a dedicated team will be calling you soon!</span>

                                        <br><br>

                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td
                                    style="border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 24px;">
                                    &nbsp;<br>
                                </td>
                            </tr>

                        </table>
                    </td>
        </tr>


        <tr>
            <td valign="top" align="center"
                style="border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;">
                <table
                    style="font-weight: normal;border-collapse: collapse;border: 0;margin: 0;padding: 0;font-family: Arial, sans-serif;">
                    <tr>
                        <td align="center" valign="middle" class="social"
                            style="border-collapse: collapse;border: 0;margin: 0;padding: 10px;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;text-align: center;">
                            <table
                                style="font-weight: normal;border-collapse: collapse;border: 0;margin: 0;padding: 0;font-family: Arial, sans-serif;">
                                <tr>
                                    <td
                                        style="border-collapse: collapse;border: 0;margin: 0;padding: 5px;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;">
                                        <a href="#"><img
                                                src="https://info.tenable.com/rs/tenable/images/rss-teal.png"></a>
                                    </td>
                                    <td
                                        style="border-collapse: collapse;border: 0;margin: 0;padding: 5px;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;">
                                        <a href="#"><img
                                                src="https://info.tenable.com/rs/tenable/images/twitter-teal.png"></a>
                                    </td>
                                    <td
                                        style="border-collapse: collapse;border: 0;margin: 0;padding: 5px;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;">
                                        <a href="#"><img
                                                src="https://info.tenable.com/rs/tenable/images/facebook-teal.png"></a>
                                    </td>
                                    <td
                                        style="border-collapse: collapse;border: 0;margin: 0;padding: 5px;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;">
                                        <a href="#"><img
                                                src="https://info.tenable.com/rs/tenable/images/youtube-teal.png"></a>
                                    </td>
                                    <td
                                        style="border-collapse: collapse;border: 0;margin: 0;padding: 5px;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;">
                                        <a href="#"><img
                                                src="https://info.tenable.com/rs/tenable/images/linkedin-teal.png"></a>
                                    </td>
                                    <td
                                        style="border-collapse: collapse;border: 0;margin: 0;padding: 5px;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;">
                                        <a href="#"><img
                                                src="https://info.tenable.com/rs/tenable/images/google-teal.png"></a>
                                    </td>

                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr bgcolor="#fff" style="border-top: 4px solid  #dd3d53;">
            <td valign="top" class="footer"
                style="border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;background: #fff;text-align: center;">
                <table
                    style="font-weight: normal;border-collapse: collapse;border: 0;margin: 0;padding: 0;font-family: Arial, sans-serif;">
                    <tr>
                        <td class="inside-footer" align="center" valign="middle"
                            style="border-collapse: collapse;border: 0;margin: 0;padding: 20px;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 12px;line-height: 16px;vertical-align: middle;text-align: center;width: 580px;">
                            <div id="address" class="mktEditable">
                                <b>
                                    © COPYRIGHT 2019 CAR LEADER
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    </td>
    </tr>
    </table>
</body>


</html>